name: Scheme Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  jtd-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install jtd-validate command
        run: |
          wget -q https://github.com/jsontypedef/json-typedef-validate/releases/download/v0.2.0/x86_64-unknown-linux-gnu.zip
          unzip x86_64-unknown-linux-gnu.zip
      - name: Validate sublime-color-scheme with jtd-validate
        run: |
          cat schemes/Material-Scheme.sublime-color-scheme | ./jtd-validate jtd/sublime-color-scheme.jtd.json
